tr(bgcolor="#252323")
    td
        table(width="100%" cellspacing="0" cellpadding="0" height="25")
            tbody
                tr(height="25")
                    td(bgcolor="#252323" width="400")
                    td(style="text-align:center;  border-radius: 0 0 3px 3px;" bgcolor="#B7B09C" width="120") #[b(style="margin: 0;font-size:18px; color:#252323; font-weight: 500; margin: 0 13px;") INVERSIONES]
                    td(bgcolor="#252323" width="50")
tr(bgcolor="#252323")
    td
        table(width="100%" cellspacing="0" cellpadding="0" height="45")
            tbody
                tr
                    td
                        img(src="./img/logo.svg" alt="SURA" width="110px" style="margin-left:31px")
tr(bgcolor="#252323") #[td(height="18")]
tr(bgcolor="#B7B09C") #[td(height="7")]