tr(style="background: #CCC7B9;") #[td(height="65")]
tr(style="background: #CCC7B9;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(height="28")
                        a(href="#") #[img(src="./img/footer.png" alt="" width="300")]
                    td(width="25")
                        a(href="#") #[img(src="./img/Facebook.png" alt="" width="25")]
                    td(width="10")
                    td(width="25")
                        a(href="#") #[img(src="./img/Twitter.png" alt="" width="25")]
                    td(width="10")
                    td(width="25")
                        a(href="#") #[img(src="./img/Youtube.png" alt="" width="25")]
                    td(width="10")
                    td(width="25")
                        a(href="#") #[img(src="./img/Instagram.png" alt="" width="25")]
                    td(width="39")
tr(style="background: #CCC7B9;") #[td(height="15")]
tr
    td(height="1" style="background:#979797;")
