tr(style="background: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr #[td(height="28")]
                tr 
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr(height="10" width="100") #[td]
                                tr(style="text-align:center;")
                                    td(height="25" style="font-size:20px;") #[b(style="font-size:24px; font-weight:600; color: #252323;") ¡_nombre bienvenido/a a SURA!]
                                tr(style="text-align:center;")
                                    td(height="25") #[b(style="font-size:16px; font-weight:500; color: #252323;") Gracias por darnos la oportunidad de acompañarte y crecer juntos]
                                tr #[td(height="10")]
tr(style="background: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr 
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody                                
                                tr(style="text-align:center;")
                                    td(height="25" width="296" style="font-size:16px; text-align: right") #[b(style="font-size:18px; font-weight:500; color: #252323;") Tu no. de contrato es:]
                                    td(width="10")
                                    td(height="30" style="background: #E3E829; color: #252323; text-align: left; border-radius: 3px 0 0 3px;") #[b(style="font-size:21px; font-weight:600; margin-left: 10px; letter-spacing: 1px;") 123456]
                                tr(height="5" width="100") #[td]
                                tr(style="text-align:center;")
                                    td(height="25" colspan="3" style="font-size: 16px; color: #666565; font-weight: 500;") La contraseña para abrir tu contrato es tu RFC en mayúsculas
                                tr(height="25" width="100") #[td]
                
