tr(style="background: #252323; color: #FFFFFF; text-align:center;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr #[td(height="28")]
                tr(style="text-align:center;")
                    td(height="25") #[b(style="font-size:20px; font-weight:500;") Sigue de cerca tu inversión*]
                //- tr(style="text-align:center;")
                //-     td(height="25") #[b(style="font-size:20px; font-weight:500;") ¡Ahora crea una contraseña para acceder a tu portal]
                //- tr(style="text-align:center;")
                //-     td(height="25") #[b(style="font-size:20px; font-weight:500;") y darle seguimientos a tus inversiones!]
tr(style="background: #252323; color: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr #[td(height="28")]
                tr 
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody(style="background: #E3E829;")
                                tr(height="10" width="100") #[td]
                                tr(style="background: #E3E829; color: #252323;")
                                    td(height="25" valign="top") #[span(style="font-size:18px; font-weight:500; text-decoration: underline; margin-left: 35px;") *Entra a tu portal aquí]
                                tr(style="background: #E3E829; color: #252323;") #[td(height="10")]

                tr
                    //- td(width="296")
                    td(width="310")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                //- tr
                                //-     td(width="35")
                                //-     td(colspan="2" style="font-size:18px") Ingresa a #[span(style="color: #E3E829") este enlace] y en la parte superior derecha da click en:
                                //- tr
                                //-     td(width="35" colspan="3")
                                tr #[td(height="15")]
                                //- tr
                                //-     td(width="35")
                                //-     td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                //-     td(height="25" style="font-weight:400; color: #FFFFFF;")  Hacer tus retiros
                                //- tr
                                //-     td(width="35")
                                //-     td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                //-     td(height="25" style="font-weight:400; color: #FFFFFF;") Realizar transacciones
                                //- tr
                                //-     td(width="35")
                                //-     td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                //-     td(height="25" style="font-weight:400; color: #FFFFFF;") Modificar tus datos personales
                                //- tr
                                //-     td(width="35")
                                //-     td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                //-     td(height="25" style="font-weight:400; color: #FFFFFF;") Consultar saldos
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;")  Consulta tus saldos
                                tr #[td(height="20")]
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;") Realizar transacciones y movimientos
                                tr #[td(height="20")]
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;") Consulta y descarga tus estados de cuenta
                    td(width="30")
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td #[img(src="./img/ilustracion_bienvenida.jpg" alt="" width="232px")]
                //- tr
                //-     td(height="28")
                tr
                    td(height="15")
                tr
                    td(colspan="3")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(width="35")
                                    td #[span(style="font-size:12px; color: #FFFFFF;") #[span(style="margin-left: 25px;") *Tendras acceso a tu portal 24hrs después de haber ecibido este correo.]]
                tr #[td(height="28")]
