tr(style="background: #252323; color: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(height="28")
                tr
                    td(width="22")
                    td(width="290")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr(height="80" )
                                    td(width="17")
                                    td(width="60")
                                        img(src="./img/numb1.png" alt="" style="height:72px")
                                    td(width="240")
                                        p(style="color: #FFFFFF;") El PDF de tu contrato #[br]firmado
                    td(width="15")
                    td(width="290")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr(height="80" )
                                    td(width="17")
                                    td(width="45")
                                        img(src="./img/numb2.png" alt="" style="height:72px")
                                    td(width="240")
                                        p(style="color: #FFFFFF;") Las referencias para que #[br]realices tus depósitos
                tr
                    td(height="18")
                tr
                    td(width="22")
                    td(width="290")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr(height="80" )
                                    td(width="17")
                                    td(width="60")
                                        img(src="./img/numb3.png" alt="" style="height:72px")
                                    td(width="240")
                                        p(style="color: #FFFFFF;") Tu NIP de operaciones #[br] telefónicas
                    td(width="15")
                    td(width="290")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr(height="80" )
                                    td(width="17")
                                    td(width="60")
                                        img(src="./img/numb4.png" alt="" style="height:72px")
                                    td(width="240")
                                        p(style="color: #FFFFFF;") Un manual para hacer tus depósitos
                    td(width="22")
                tr #[td(height="30")]
