tr(style="background: #252323; color: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr #[td(height="28")]
                tr 
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody(style="background: #E3E829;")
                                tr(height="10" width="100") #[td]
                                tr(style="background: #E3E829; color: #252323; text-align:center;")
                                    td(height="25" style="font-size:20px;") Tu NIP es: #[b(style="font-size:22px; font-weight:600;") 12345]
                                tr(style="background: #E3E829; color: #252323;") #[td(height="10")]

                tr
                    td(width="296")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(width="35")
                                    td(colspan="2") #[b(style="font-size:18px") Tu NIP es la llave para:]
                                tr
                                    td(width="35" colspan="3")
                                tr #[td(height="15")]
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;")  Hacer tus retiros
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;") Realizar transacciones
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;") Modificar tus datos personales
                                tr
                                    td(width="35")
                                    td(width="25") #[img(src="./img/dots.png" alt="" width="8" height="8")]
                                    td(height="25" style="font-weight:400; color: #FFFFFF;") Consultar saldos
                    td(width="30")
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td #[img(src="./img/ilustracion_bienvenida.jpg" alt="" width="232px")]
                tr
                    td(height="28")
                tr
                    td(colspan="3")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(width="35")
                                    td #[span(style="font-size:14px; color: #CCC7B9;") Centro de atención a clientes:  55-9138-7500 CDMX o al 44-3310-8192]
                tr #[td(height="28")]
