tr(style="background: #565450;")
    td(height="34" style="color: #FFFFFF; text-align:center;") IMPORTANTE: Para tu primer depósito consulta el #[b(style="color: #E3E829;") Manual de depósitos] adjunto