tr(style="background: #CCC7B9;") #[td(height="65")]
tr(style="background: #CCC7B9;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(width="150")
                    td(height="28")
                        img(src="./img/fin_mail.png" alt="" width="300")
                    td(width="45")