tr(style="background: #252323;") #[td(height="50")]
tr(style="background: #252323;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(width="150")
                    td(height="28")
                        img(src="./img/fin_mail.png" alt="" width="300")
                    td(width="45")
tr(style="background: #252323;") #[td(height="50")]