tr(style="background: #CCC7B9;") #[td(height="30")]
tr(style="background: #CCC7B9; text-align:center;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(width="76")
                    td(width="200")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(height="80" style="background: #DAD7CE; text-align:center;")
                                        span Universidad de Andrea
                                        br
                                        b Contrato: 508050
                                tr
                                    td(height="40" style="background: #ffffff; text-align:center;") #[b No. Referencia: 5080509]
                    td(width="48")
                    td(width="200")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(height="80" style="background: #DAD7CE; text-align:center;")
                                        span Apartado de Disponibilidad
                                        br
                                        b Contrato: 123456
                                tr
                                    td(height="40" style="background: #ffffff; text-align:center;") #[b No. Referencia: 1234562]
                    td(width="76")
tr(style="background: #CCC7B9;") #[td(height="30")]
tr(style="background: #CCC7B9;")
    td(height="30")
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(width="190")
                    td(width="210")
                        a(href="http://" style=" text-decoration: none; width: 210px; height: 38px; line-height: 38px; text-align:center; color: #252323; font-size: 16px; display: block; background: #E3E829; border-radius:19px; text-align:center;") #[b Ver Manual de depósitos]
                    td(width="190")
tr(style="background: #CCC7B9;") #[td(height="35")]
