tr(style="background: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr #[td(height="28")]
                tr 
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                //- tr(height="10" width="100") #[td]
                                tr(style="text-align:center;")
                                    td(width="10")
                                    td(width="200" height="45" style="background: #E3E829; color: #252323; text-align: left") #[span(style="margin-left: 80px;") Tu NIP es: #[b(style="font-size:19px; font-weight:500; letter-spacing: 1px;") 123456]]
tr(style="background: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr #[td(height="28")]
                tr 
                    td
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody                             
                                tr(style="text-align:center;")
                                    td(height="25") #[span(style="font-size:16px; font-weight:500; color: #252323;") Dicho NIP es tu llave de operación en nuestro centro de servicio al cliente:]
                                tr #[td(height="15")]
                                tr
                                    td(width="296")
                                        table(width="100%" cellspacing="0" cellpadding="0")
                                            tbody
                                                tr
                                                    td(width="200") #[span(style="margin-left: 45px;") #[img(src="./img/dots2.png" alt="" width="8" height="8")] #[b(style="margin-left: 10px; font-size:14px; font-weight:500; color: #252323;") Hacer tus retiros]]
                                                    td(width="200") #[span #[img(src="./img/dots2.png" alt="" width="8" height="8")] #[b(style="margin-left: 10px; font-size:14px; font-weight:500; color: #252323;") Modificar tus datos personales]]
                                                tr #[td(height="3")]
                                                tr
                                                    td(width="200") #[span(style="margin-left: 45px;") #[img(src="./img/dots2.png" alt="" width="8" height="8")] #[b(style="margin-left: 10px; font-size:14px; font-weight:500; color: #252323;") Realizar transacciones]]
                                                    td(width="200") #[span #[img(src="./img/dots2.png" alt="" width="8" height="8")] #[b(style="margin-left: 10px; font-size:14px; font-weight:500; color: #252323;") Consultar saldos]]
                                
                                tr #[td(height="28")]
                                tr
                                    td(height="25") #[span(style="margin-left: 45px; font-size:14px; font-weight:500; color: #252323;") No. de atención: 55-9138-7500 CDMX o al 44-3310-8192]
                                tr #[td(height="28")]
                                