tr(style="background: #252323; color: #FFFFFF;") #[td(height="60")]
tr(style="background: #252323; color: #FFFFFF;")
    td
        table(width="100%" cellspacing="0" cellpadding="0" style="text-align:center;")
            tbody
                tr
                    td #[b(style="font-size:24px; color: #FFFFFF;") ¡_nombre bienvenido a SURA!]
                tr
                    td(style="color: #FFFFFF;") Gracias por darnos la oportunidad de acompañarte y crecer juntos
                tr #[td(height="20")]

tr(style="background: #252323; color: #FFFFFF; text-align:center;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(height="32" style="font-size:22px; font-weight:400; text-align:right; color: #FFFFFF;") Tu no. de contrato:
                    td(width="15")
                    td(width="284" style="font-size:24px; font-weight:500; padding:0 5px; background: #fff; color: #252323; text-align:left;" height="32") 123456
                tr #[td(height="25")]

tr(style="background: #252323; color: #FFFFFF;")
    td(style="font-size:20px; font-weight:500; text-align:center; color: #FFFFFF;") En este correo encontrarás