tr(style="background: #CCC7B9;") #[td(height="15")]
tr(style="background: #CCC7B9; text-align:center;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr(style="text-align:center;")
                    td(height="25" style="font-size:20px;") #[b(style="font-size:22px; font-weight:600; color: #252323;") ¡Comienza a invertir!]
                tr(style="background: #CCC7B9;") #[td(height="10")]
                tr(style="text-align:center; background: #DAD7CE;")
                    td(height="25" style="font-size:16px; font-weight:500; color: #252323;") Para hacer tus dépositos estas son tus #[b referencias] bancarias:
                    
tr(style="background: #CCC7B9;") #[td(height="30")]
tr(style="background: #CCC7B9; text-align:center;")
    td
        table(width="100%" cellspacing="0" cellpadding="0")
            tbody
                tr
                    td(width="76")
                    td(width="200")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(height="80" style="background: #DAD7CE; text-align:center;")
                                        span Universidad de Andrea
                                        br
                                        b Contrato: 508050
                                tr
                                    td(height="40" style="background: #ffffff; text-align:center;") #[b No. Referencia: 5080509]
                    td(width="48")
                    td(width="200")
                        table(width="100%" cellspacing="0" cellpadding="0")
                            tbody
                                tr
                                    td(height="80" style="background: #DAD7CE; text-align:center;")
                                        span Apartado de Disponibilidad
                                        br
                                        b Contrato: 123456
                                tr
                                    td(height="40" style="background: #ffffff; text-align:center;") #[b No. Referencia: 1234562]
                    td(width="76")
tr(style="background: #CCC7B9;") #[td(height="35")]
