extends ../layouts/default.pug
block content
    include ../partials/styles.pug
    table(width="600px" cellspacing="0" cellpadding="0" align="center" styles="background: #252323; font-family: Barlow, Arial, Helvetica, sans-serif;")
        tbody
            include ../partials/header.pug
            include ../partials/section01.pug
            include ../partials/section02.pug
            include ../partials/section03.pug
            include ../partials/section04.pug
            include ../partials/section05.pug
            include ../partials/section06.pug
            include ../partials/section07.pug
            include ../partials/section08.pug
