doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office")
    head
        meta(charset="UTF-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(name="x-apple-disable-message-reformatting")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(content="telephone=no" name="format-detection")
        meta(name="color-scheme" content="only")

        title SURA
    body(width="“100%”" style="background: #ddd; margin: 0; padding: 0 !important; font-size: 16px; font-family: Barlow, Arial, Helvetica, sans-serif; font-weight: lighter; mso-line-height-rule: exactly; color: #53565a;")
        block content
